/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  min-height: 100vh;
  background: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app {
  width: 500px;
  min-height: 450px;
  background: #3a3a3a;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px black;
}


.app h1 {
  color: #90ee90;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}


#inputtask {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  height: 100px;
  background: #5a5a5a;
  border: none;
  border-radius: 10px;
  color: white;
  outline: none;
  margin-bottom: 15px;
}

#addBtn {
  width: 40%;
  padding: 10px;
  background: #90ee90;
  color: #1f1f1f;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}


#addBtn:hover {
  background: #78e478;
}


#taskList {
  list-style: none;
  margin-top: 25px;
  color: white;
}


li {
  background: #4a4a4a;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}
/* in style.css */
.delete-btn {
  margin-left: 10px;
  background: #590909;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2px 6px;
  cursor: pointer;
}
